 p, h2{
    text-align: center;
    -webkit-text-fill-color: white;
}

body {
    background-color: orange;
}
h2, h3, p, ul, ol, legend, figcaption, h1{
    -webkit-text-fill-color: white;
}

.imagem {
    margin-top: 50%;
}

.figcaption {
    display: inline-block;
}

.italico {
     font-style: italic;
}

hr {
    height: 3px;
    background-color: wheat;
    border-color: wheat;
}

a:visited {
    color:aquamarine;
}

a:hover {
    color: violet;
}



